* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "jost";
  scroll-behavior: smooth;
}
/* ...........................................navbar................................ */
/* ...........................................navbar................................ */
/* ...........................................navbar................................ */
/* ...........................................navbar................................ */
.navbar {
  height: 60px;

  background-color: #05070b;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

nav {
  position: sticky;
  top: 0;
}

.logo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid rgb(5, 1, 1);
  filter: contrast(1.5) brightness(110%);
}

.nav3 a {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: inline-block;
  margin: 3px;
}

.portfolio {
  width: 50%;
  color: white;
  margin-left: 10px;
}

.nav3 a:hover {
  background-color: rgb(111, 200, 111);
  cursor: pointer;
}

.nav3 a:active {
  background-color: rgb(123, 77, 184);
}

.nav3 i {
  margin-right: 5px;
  color: white;
}

/* --------------------contact------------ */
/* --------------------contact------------ */
/* --------------------contact------------ */
/* --------------------contact------------ */
/* --------------------contact------------ */

#contact {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #0f172a;
  color: white;

  .consec1 {
    width: 30%;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    /* text-decoration: none;  */
    padding: 20px;
    & h1 {
      font-size: 60px;
      color: lime;
    }

    & i {
      color: white;
      font-size: 23px;
      margin: 10px;
    }
    & p {
      color: hotpink;
    }
    & a {
      text-decoration: none;
    }
  }

  .consec2 {
    /* width:100%; */
    margin-left: 250px;
    margin-top: 100px;
    color: white;
    height: 500px;
    width: 400px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 5px rgba(156, 150, 187, 0.6);
    padding: 20px;
    & .text1 {
      text-align: center;
      font-size: 3rem;
      color: white;
      padding-top: 40px;
    }

    & .register {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
    & .register input {
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 2px solid white;
      outline: none;
      background: transparent;
      color: white;
      font-size: 1.3rem;
    }
    & .email {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
    & .email input {
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 2px solid white;
      outline: none;
      background: transparent;
      color: white;
      font-size: 1.3rem;
    }
    & .phone {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
    & .phone input {
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 2px solid white;
      outline: none;
      background: transparent;
      color: white;
      font-size: 1.3rem;
    }
    & .comment {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
    & .comment input {
      width: 100%;
      height: 80px;
      border: 2px solid white;
      border-radius: 15px;
      outline: none;
      background: transparent;
      color: white;
      font-size: 1.3rem;
    }

    & .submit {
      margin-top: 10px;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
    }
    & .submit button {
      width: 100%;
      text-decoration: none;
      background-color: rgb(73, 165, 165);
      height: 40px;
      border-radius: 20px;
      font-size: 1.8rem;
    }
    .login button:hover {
      background-color: rgb(21, 147, 40);
      color: black;
    }
  }
}

/* ******************************************about****************************************** */
/* ******************************************about****************************************** */
/* ******************************************about****************************************** */
/* ******************************************about****************************************** */
/* ******************************************about****************************************** */
#about {
  background: linear-gradient(90deg, #50535b, #333535, black);
  display: flex;

  height: 100vh;
  color: white;
}

.herosection img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 350px;
  margin-top: 160px;
  filter: contrast(1.4) brightness(110%);
}

.herotext {
  color: white;
  width: 40%;
  margin-top: 150px;
  margin-left: 20px;
}
.typing {
  color: hotpink;
  font-size: 30px;
}
.herotext a {
  display: block;
  text-decoration: none;
  color: rgb(247, 243, 246);
  border: 2px solid rgb(23, 23, 23);
  background-color: rgb(43, 140, 105);
  height: 40px;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  padding: 8px;
}

.intro {
  padding-bottom: 4px;
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  animation-name: typing, blink;
  animation-duration: 4s, 0.7s;
  animation-timing-function: steps(30, end), step-end;
  animation-iteration-count: infinite, infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.infotext1 {
  font-size: 23px;
  color: white;
  margin: 5px;
  line-height: 2;
}
.bio {
  .html {
    color: orange;
    font-size: 18px;
  }

  .css {
    color: #4682b4;
    font-size: 18px;
  }

  .js {
    color: #ffd700;
    font-size: 18px;
  }

  .tailwind {
    color: #20b2aa;
    font-size: 18px;
  }

  .node {
    color: #32cd32;
    font-size: 18px;
  }

  .php {
    color: red;
    font-size: 18px;
  }
}

.herotext a:hover {
  color: white;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  display: inline-block;
  height: 40px;
  width: 110px;
  margin: 3px;
  padding: 6px;
  background-color: rgb(1, 15, 1);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

/* ################################################# footer##################################################### */
/* ################################################# footer##################################################### */
/* ################################################# footer##################################################### */
/* ################################################# footer##################################################### */
/* ################################################# footer##################################################### */
 footer i{
  margin-left:10px;

}
footer{
  position:absolute;
  bottom:0;
}
footer a{
  text-decoration: none;
}
 footer .f1{ 
  padding:10px;
  text-align: center;
    font-size: 30px;
    background-color: #000001;
}

.instagram-icon {
  color:#EB39B4;
}
.whatsapp-icon {
  color:green;
}
.facebook-icon {
  color: rgb(30, 20, 225);
}
.telegram-icon {
  color: skyblue;
}
.youtube-icon {
  color: red;
}
.linkedin-icon {
  color:rgb(69, 69, 247);
  
}
.f2{
  width:100%;
  text-align: center;
  padding: 10px;
 background-color: #000001;
  color: #fff;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   skills !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   skills !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   skills !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   skills !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   skills !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#skills {
  height: 100vh;
  background-color: #0f172a;
  color: white;

  justify-content: center;
  /* margin:10px; */
  padding: 10px;
  column-gap: 50px;
  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  display: block;
}
.skillsec {
  margin-top: 60px;
  color: rgb(243, 195, 219);
  border: 2px solid white;
  flex-basis: 15%;
  height: 260px;

  border: 3px solid black;
  border-radius: 25px;
  background-color: #1e293b;
  & img {
    width: 100%;
    height: 65%;
    border-radius: 20px;
  }
  & h1 {
    height: 30px;
    text-align: center;
    margin: 10px;
  }
}
.skillsechtml {
  .progress-bar {
    border-radius: 15px;
    border: 2px solid black;
    width: 70%;
    background: rgb(88, 152, 88);
    color: white;
    height: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
  }
}
.skillseccss {
  .progress-bar {
    border-radius: 15px;
    border: 2px solid black;
    width: 75%;

    background: rgb(88, 152, 88);
    color: white;

    height: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
  }
}
.skillsectailwind {
  .progress-bar {
    border-radius: 15px;
    border: 2px solid black;
    width: 75%;
    background: rgb(88, 152, 88);
    color: white;
    height: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
  }
}
.skillseccprogramming,
.skillsecjs {
  .progress-bar {
    border: 2px solid black;
    width: 25%;
    border-radius: 15px;
    background: rgb(88, 152, 88);
    color: white;
    height: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
  }
}
.skillsec:hover {
  transform: scale(1.1);
  color: White;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Certificates&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Certificates&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Certificates&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Certificates&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Certificates&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
#certificates {
  padding: 50px;
  height: 100vh;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  row-gap: 10px;
  & img {
    height: 300px;
    width: 300px;
    border: 2px solid black;
  }
}

.certificatesflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cf {
  margin: 10px;

  border: 5px solid white;
}
#certificates h3 {
  font-size: 45px;
  text-align: center;
}
