/* Footer */
footer {
    height:60px;
  background-color: #05070b;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

footer .f1 a {
  color: white;
  margin: 0 10px;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .f1 a:hover {
  color: hotpink;
}

footer .f2 {
  font-size: 0.9rem;
  color: white;
  user-select: none;
}

/* Responsive Footer */
@media (max-width: 768px) {
  footer .footer {
    flex-direction: column;
    gap: 10px;
  }
}
